@import '../variables';
@import url('https://fonts.googleapis.com/css?family=Josefin+Slab:700');


.content {
  @include content-width;
  display: flex;
  justify-content: space-between;
  align-items: center;
  > * {
    flex: 1 auto;
  }
}

.logo {
  font-family: 'Josefin Slab', serif;
  font-size: 2em;
}

.headerNav {
  flex: 2 auto;
  display: flex;
  justify-content: space-between;
  a {
    border-bottom: 5px solid $five;
    flex: 1 auto;
    text-align: center;
    transition: 1s;
    &:hover {
      border-color: darken($five, 20%);
      color: darken($five, 20%);
    }
  }
}