@import '../components/variables';

.container {
  @include content-width;
  margin-top: 50px;
}

.postInfo {
  border-bottom: 2px solid gray;
  p {
    margin: 0;
    font-size: .8em;
  }
}

.postType {
  padding: 0 .5em;
  font-weight: bold;
}

.tags {
  font-style: italic;
}