@import 'variables';

.fullWidth {
  grid-column-start: 1;
  grid-column-end: -1;
}

.flex {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  padding: 10px 0;
  img {
    margin: 10px auto;
    display: block;
    width: 200px;
    height: 200px;
    object-fit: contain;
  }
  article {
    flex: 1 0 250px;
    padding: 10px;
  }
  @media (min-width: 700px) {
    justify-content: space-around;
    flex-direction: row;
  }
}
